@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply p-2 py-2 px-4 bg-transparent  font-semibold border  rounded;
}
.btn-blue {
  @apply border-blue-500;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
